<div class="flex flex-col gap-4">
  <div>
    <h1 class="text-center">Полнотекстовый поиск</h1>
  </div>
  <div class="mx-auto">
    <form class="max-w-lg">
      <div class="flex">
        <div class="flex-shrink-0">
          <select
            id="countries"
            class="p-2.5 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-l-lg block w-full"
            [(ngModel)]="searchType"
            name="searchType"
            (change)="updatePlaceholder()"
          >
            <option [ngValue]="SearchType.MOVIES">
              {{ SearchType.MOVIES }}
            </option>
            <option [ngValue]="SearchType.PERSONS">
              {{ SearchType.PERSONS }}
            </option>
          </select>
        </div>
        <div class="relative w-full">
          <input
            type="search"
            id="search-dropdown"
            class="block py-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg border border-gray-300"
            [placeholder]="placeholder"
            required
            size="30"
            [(ngModel)]="searchQuery"
            name="searchQuery"
          />
          <button
            (click)="search()"
            type="submit"
            class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800"
          >
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
            <span class="sr-only">Поиск</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="mt-4">
  <h2 class="text-center">Результаты поиска</h2>
  <div *ngIf="searchType === SearchType.MOVIES">
    <div *ngFor="let movie of movies">
      <app-item-movie [movie]="movie"></app-item-movie>
    </div>
  </div>
  <div *ngIf="searchType === SearchType.PERSONS">
    <div *ngFor="let person of persons">
      <app-item-person [person]="person"></app-item-person>
    </div>
  </div>
</div>
